//
// Header Background
//

.c-hero {
  overflow: hidden;
  min-height: 100vh;

  &__container {
    position: relative;
  }

  &__container::before {
    position: absolute;
    top: -5vh;
    display: block;
    width: 95vmin;
    height: 97vmin;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    content: '';
      background-image: url('../img/hero-background.svg');

    @include media-breakpoint-up(lg) {
      left: px-to-rem(480px);
    }

    @include media-breakpoint-only(md) {
      left: 40vw;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__content {
    padding-top: 50vh;
    transform: translateY(-25%);
  }
}
